{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "react",
    "import",
    "jsx-a11y",
    "react-hooks",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "prettier",
    "prettier/react",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/prop-types": "off",
    "lines-between-class-members": "off",
    "no-lonely-if": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"]
      }
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  }
}
